.card{
  width:  380px;
  min-height:800px;
}

.button{
  position: absolute;
  bottom: 13px;
}
.favorite{
  position: absolute;
  right: 24px;
  bottom: -3px;
  font-size: 50px;
  cursor: pointer;
}

.heart{
  color: red;
}
.loadingImage{
  height: 60%;
  background-color: #868e96;
}