.card{
min-height:650px;

}

.button{
  position: relative;
  bottom: -7px;
}
.favorite{
  position: absolute;
  right: 24px;
  bottom: -3px;
  font-size: 50px;
  cursor: pointer;
}

.heart{
  color: red;
}
.loadingImage{
  height: 60%;
  background-color: #868e96;
}