.card{
  width:  380px;
  min-height:800px;
}

.button{
  position: absolute;
  bottom: 8px;
}
.favorite{
  position: absolute;
  right: 18px;
  bottom: -3px;
  font-size: 50px;
  cursor: pointer;
}

.heart{
  color: red;
}